* { box-sizing: border-box;
    }
    
body {
    background-color:red;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}
table .chessboard{
    margin: 0 auto;
    background: black;
    border: 25px solid #000000;
    border-collapse: collapse;
}
td.chessboard{
    width: 70px; 
    height: 70px;
    border: 2px solid #000000;
}
tr.chessboard :nth-child(odd) td.chessboard :nth-child(even)tr.chessboard :nth-child(even) td.chessboard :nth-child(odd){
    background: white;
} 