/* * {box-sizing: border-box;
margin: 0 auto;}

body {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 20px;
    height: 100vh;
}

.side {
    background-image: url("img/side1.png");
    background-size: contain; 
    height: 100px;
    width: 100px;
}
h1 {
  padding-bottom: 10px;  
} */

button {
    display:flex;
    flex-direction: column;
    margin-top: 5px;
}
