* {
  box-sizing: border-box;
}

html {
  font-family: 'Exo', sans-serif;
  font-size: 18px;
}

body {
  background-color: #F2F2F2;
}

.container {
  max-width: 1200px;
  margin: 1rem auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width:768px){
    flex-direction: column;
    .logo{
      order: -1;
    }

  }
}

.logo {
  width: 100px;
  height: 100px;
}

h1 {
  color: #F4A423;

  font-weight: 900;
  font-size: 3rem;
}

nav {
  padding-left: 2rem;

  background-color: #435058;
  border-radius: 4px;
  @media screen and (max-width:768px){
    display: flex;
    flex-direction: column;
  }
}

nav a {
  display: inline;

  margin-right: 2rem;

  color: white;

  font-weight: bold;
  text-decoration: none;
  line-height: 3rem;
}

nav a:hover {
  color: #F4A423;
  border-bottom: 2px solid #F4A423;
}

.plans {
  display: flex;
  justify-content: space-between;

  margin-top: 2rem;

  @media (max-width: 1200px){
    flex-flow: row-wrap;
  }
}

.card {
  width: calc(25% - 10px);
  padding: 1rem 1.5rem;

  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #aaa;

  @media (max-width: 1200px) {
    width: 48%;
    margin: 1%;
  }

}

h2 {
  margin: 0;

  font-weight: normal;
}

p {
  margin-bottom: 0;
}

.price {
  margin-bottom: 1rem;

  color: #F4A423;
  
  font-size: 1.6rem;
  font-weight: bold;
}

button {
  display: block;

  width: 100%;

  background-color: #D33F49;
  color: white;
  border: none;
  border-radius: 4px;

  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  
  outline: none;
  cursor: pointer;
}