* {
    box-sizing: border-box;
    margin:0%;
}

body {
    // use min-height 100vh;
    background-image: url("/img/coffee-photo.jpg");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    
}

.content {
    // can also use max-width
    width: 450px;
    padding: 50px;
    background-color: rgba(160,82,45,0.5);
    .top {
        p {
            font-weight: bold;
            font-size: 60px;
            text-transform: uppercase;
            padding-bottom: 20px;
            // can set line-height so that lines are spread out more
        }
    }
    .middle {
        
        p {
            font-weight: bold;
          
        }
    }
    .button {
        button {
            background-color: red;
            padding: 30px;
            border: 1px;
            font-weight: bold;
            color: white;
            margin: 20px;
            border-radius: 5px;
        }
    }
}
