* { box-sizing: border-box;
    margin: 0%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.content {
    max-width: 1000px;
    margin: auto;
}

nav {
    background-color:#F0F0F0;
        .content {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        padding: 50px;
        padding-left: 0;
        .logo {
            strong {
                font-size: 25px;
            }
        }
        .menu {
            text-transform: uppercase;
            display:flex;
            flex-wrap: wrap;
            div {
                padding: 10px;
                a {
                    text-decoration: none;
                    color: #989898;
                }
                a:hover {
                    color: #80FFE3;
                }
            }
        }
    }
}
header {
    .content {
        display:flex;
        flex-direction: column;
        height: 100vh;
        
        .name {
            font-size: 25px;
            letter-spacing: 2px;
        }
        .job-title {
            font-size: 20px;
            color:#989898;
            padding-top: 5px;
        }
        .text {
            font-size: 80px;
            color:#1a1b1f;
            padding-top: 15px;
            height: 500px;
    
            
        }
        .text:hover{
            color:#80FFE3;

        }
    }
}


#about_me {
    .content {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        .mypicture {
            width: 50%;
            img {
                border-radius: 50%;
                width: 260px;
                height: 260px;
            }
        }
        .mytext {
            width:50%;
            text-align: justify;
            h2 {
                color: #1a1b1f;
                font-size: 30px;
            }
            p {
                padding-top: 5px;
                color: #989898;
            
            }
        }
    }
}

// font aweseome website
#skills {
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        min-height: 100vh;         
    } 
    .circle_skill {
        border-radius: 50%;
        width: 240px;
        height: 240px;
        background-color: #80FFE3;
        color: #1a1b1f;
        margin: 20px 10px 20px 10px;
        font-size: 20px;
        padding-top: 65px;

        p {
        text-align: center;
        }
    }
}
 
// #portfolio {
//     .content {
//         display:flex;
//         flex-wrap: wrap;
//         justify-content: space-around;
//         height: 100vh;
//         align-items: center;     
//         .box {
//             text-align: center;
//             font-size: 1em;
//             background-color: lightcoral;
//             height: 200px;
//             width: 200px;
            
//         }
//     }
// }

#portfolio {
    min-height: 100vh;
}


// #contact_me {
//     .content{
//         display:flex;
//         flex-direction: column;
//         flex-wrap: wrap;
//         justify-content: center;
//         font-size:40px;
//         border: #1a1b1f solid 5px;
//         padding: 50px;
//         h2{
//             padding: 10px;
//         }
//         p{
//             color:#80FFE3;
//             padding: 10px;
//             border-bottom: #1a1b1f solid 2px;        
//         }
//         .button{       
//             border:#1a1b1f solid 5px;
//             border-radius: 5px;
//             width: 500px;
//             height:100px;
//             text-align: center;
//             .send {
//                 width: 100%;
//                 color:#80FFE3;
//                 padding: 10px;
//                 border-bottom: 0px;
//             }
//         }
//     }
// }

#contact_form {
    min-height: 100vh;
}

.footer__portfolio{
    background-color: #989898
}