nav{
    background-color: #313131;
    ul{
        padding-top: 20px;
        padding-bottom: 20px;
        li{
            display: inline;
            padding: 20px;
            a{
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}   